/gradle/test-dependencies-artifacts/test-artifact/build/
/gradle/test-dependencies-artifacts/test-artifact/bin/
/gradle/test-dependencies-artifacts/test-artifact/.gradle/
/gradle/test-dependencies-artifacts/test-artifact/.settings/
/gradle/test-dependencies-artifacts/test-artifact/.classpath
/gradle/test-dependencies-artifacts/test-artifact/.project

/gradle/test-dependencies-artifacts/test-dependency/build/
/gradle/test-dependencies-artifacts/test-dependency/bin/
/gradle/test-dependencies-artifacts/test-dependency/.gradle/
/gradle/test-dependencies-artifacts/test-dependency/.settings/
/gradle/test-dependencies-artifacts/test-dependency/.classpath
/gradle/test-dependencies-artifacts/test-dependency/.project
